.box {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  align-items: center;

  .text{
    margin-right: 10px;
    font-size: 17px;
  }

  .icon {
    cursor: pointer;
    padding: 5px;
  }
}
